
body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 2em;
    background-color: rgb(188, 188, 188);
}

img {
    height: 200px;
    box-shadow: 2px 2px 4px 0px gray;
}

nav {
    border-bottom: 1px solid;
    border-color: black;
    padding: 16px;
    background-color: #cd546c;
}

.recipe-list-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

a {
    text-decoration: none;
    color: #307330;
}

.main-page-link {
    color: white;
    font-size: larger;
}

tr:nth-child(even) {
    background-color: rgb(205, 205, 205);
}
